:root {
    --cinderella-900: #033F49;
    --cinderella-800: #04687C;
    --cinderella-700: #0C8FA6;
    --cinderella-600: #0EBEDD;
    --cinderella-500: #68E8FF;
    --cinderella-400: #82ECF8;
    --cinderella-300: #AFF6F8;
    --cinderella-200: #D1F9FA;
    --cinderella-100: #F1FDFE;

    --concrete-900: #21262C;
    --concrete-800: #374048;
    --concrete-700: #4F5964;
    --concrete-600: #657381;
    --concrete-500: #7E8C9A;
    --concrete-400: #99A6B2;
    --concrete-300: #B5BFC9;
    --concrete-200: #D2D9E0;
    --concrete-100: #F0F2F5;

    --gold-900: #484005;
    --gold-800: #786B07;
    --gold-700: #A29110;
    --gold-600: #D8C00E;
    --gold-500: #FFE41A;
    --gold-400: #FFF01A;
    --gold-300: #FFF980;
    --gold-200: #FCF8B6;
    --gold-100: #FFFEE5;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
	color: var(--concrete-900);
	font-family: 'Montserrat';
}

h1 {
    font-size: 1.625em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.125em;
}

p {
	font-family: 'Open Sans';
	color: var(--concrete-500);
}

img {
	width: 100%;
}

nav {
	display: flex;
    justify-content: flex-end;
}

nav ul li {
	display: inline-flex;
	list-style-type: none;
    padding: 0.75em;
}

nav ul li:first-child {
	margin-left: auto;
}

nav ul li a {
	text-decoration: none;
}

body.js-enabled section {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

body.js-enabled section .matches {
    position: relative;
    display: flex;
    justify-content: center;
}

body.js-enabled section article {
    display: none;
    opacity: 0;
    border: 0;
    padding: 0;
    position: relative;
    left: 0;
    margin: 0;
    width: 80%;
}

body.js-enabled section article.active {
    display: block;
}

body.js-enabled section article.active .controls {
    display: none;
}

body.js-enabled section article.show {
    opacity: 1;
}

body.js-enabled section article.show .controls{
    display: flex;
}

body.js-enabled section article:nth-of-type(2).active {
    opacity: 0.5;
    left: auto;
    right: 1em;
    z-index: -1;
    position: absolute;
    top: 1em;
    bottom: 1em;
    width: 70%;
}

body.js-enabled section article:nth-of-type(3).active {
    opacity: 0.25;
    left: auto;
    right: 0.25em;
    z-index: -2;
    position: absolute;
    top: 1em;
    bottom: 2em;
    width: 60%;
}

section article fieldset {
    border: none;
    padding: 0;
}

section article .card {
    background-color: var(--concrete-100);
    position: relative;
    width: 100%;
}

section article .card:after {
    border-bottom-left-radius: 0.150em;
    border-bottom-right-radius: 0.150em;	
    bottom: 0;
    content: '';
    background-image: linear-gradient(0deg, rgba(33, 38, 44, 0.90) 22%, rgba(47, 52, 58, 0.36) 59%, rgba(58, 63, 68, 0.00) 93%);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

section article .card img {
    border-radius: 0.150em;
    width: 100%;
}

section article .card .card__description {
    bottom: 0;
    content: '';
    /* display: none; */
    left: 0;
    padding: 1.250em;
    position: absolute;
    z-index: 1;
}

section article .card .card__description h2 {
    color: var(--concrete-100);
    font-weight: 600;
}

section article .card .card__description p {
    color: var(--concrete-200);
}

section .controls {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: -1.8em 0;
    padding: 0 .5em;
    z-index: 1;
    position: relative;
}

section .controls span {
    display: none;
}

section .controls .card__btn {
    border: none;
    border-radius: 50%;
    background-color: var(--concrete-200);
    color: var(--pearl-100);
    display: inline-flex;
    padding: 0.25em;
    height: 3.1em;
    justify-content: center;
    width: 3.1em;
}

section .controls input[type='radio']{
    opacity: 0;
    position: absolute;
}

section .controls label.card__btn img {
    width: auto;
}

section .controls label.card__btn.card__btn--secundair {
    height: 2.2em;
    width: 2.2em;
}

section .controls label.card__btn.card__btn--pass {
    background-color: var(--concrete-300);
}

section .controls label.card__btn.card__btn--like {
    background-image: linear-gradient(-134deg, #0C8FA6 0%, #5FDFF6 70%, #68E8FF 100%);
}

section .controls label.card__btn.card__btn--superlike {
    background-image: linear-gradient(-134deg, #A29110 0%, #D8C00E 17%, #F3D916 64%, #FFE41A 100%);
}

section .controls input[type='radio']:checked + label.card__btn.card__btn--like {
    background: var(--cinderella-700);
}

section .controls input[type='radio']:checked + label.card__btn.card__btn--superlike {
    background: var(--gold-600);
}

/* js-enabled */
body.js-enabled section .controls button {
    display: none;
}

.container {
    padding: 0 0.938em;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 36em) { /* 576px */
    .container {
        max-width: 33.75em;
    }
}

@media (min-width: 48em) { /* 768 px */
    .container {
        max-width: 45em;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em;
    }

    body.js-enabled section .row {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }

    body.js-enabled section article.show {
        display: block;
        width: 100%;
    }

    body.js-enabled section article.active,
    body.js-enabled section article:nth-of-type(2).active,
    body.js-enabled section article:nth-of-type(3).active {
        opacity: 1;
        right: auto;
        top: auto;
        position: relative;
        bottom: auto;
        width: 100%;
    }
}

@media (min-width: 62em) { 
    .container {
        max-width: 60em;
    }

    .row {
        grid-template-columns: repeat(3, 1fr);
    }

    body.js-enabled section .row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 75em) {
    .container {
        height: auto;
        max-width: 71.25em;
    }

    .row {
        grid-template-columns: repeat(4, 1fr);
    }

    body.js-enabled section .row {
        grid-template-columns: repeat(4, 1fr);
    }
}
